.section-five
  .jumbotron
    .text-center
      h1 
        | Buy The eBook Today
      h2
        | (and Get Back to Coding the Stuff You Love!)

  .row
    .col-sm-3.col-sm-offset-1
      .purchase.well
        h3 eBook Only

        p
          | Buy the eBook and master Backbone.js like 
          | never before!
          ul
            li Stop writing boilerplate
            li Take control of your code
            li Build and extend Backbone
            li Do more, write less

        p.text-center
          img(src="/images/book.png" width="125")

        .buy-button.text-center
          a.btn.btn-primary.btn-lg(href="https://leanpub.com/building-backbone-plugins/packages/book/purchases/new") 
            | Buy The eBook 
            br
            | $29.99

    .col-sm-4
      .purchase.preferred.well
        h3 eBook + Screencasts

        p
          | Buy the eBook and get the 4 JavaScript screencasts 
          | from Derick Bailey's 
          b WatchMeCode.net
          |  series, referenced in the book!

          ul
            li Variable Scope
            li Context ("this")
            li Objects &amp; Prototypes
            li When Context and Prototypes Collide

        p.text-center
          .row
            .col-xs-4.text-center
              img(src="/images/book.png" width="125")
            .col-xs-4
              img.screencast(src="/images/javascript-scope.png")
              img.screencast(src="/images/javascript-context.png")
            .col-xs-4.text-center
              img.screencast(src="/images/javascript-objects.png")
              img.screencast(src="/images/javascript-context-prototypes.png")

        .buy-button.text-center
          a.btn.btn-success.btn-lg(href="https://leanpub.com/building-backbone-plugins/packages/book-plus-watchmecode-screencasts/purchases/new") 
            | Buy The eBook + Screencasts 
            br
            | $54.99
  
    .col-sm-3
      .purchase.well
        h3 eBook Bundle

        p
          | Get 3 eBooks on Backbone and MarionetteJS at one low price!

          ul
            li Building Backbone Plugins
            li MarionetteJS: A Gentle Introduction
            li Structuring Backbone Code W/ RequireJS &amp; Marionette

        p.text-center
          img(src="/images/bundlepage-2.png" width="55")
          &nbsp;
          img(src="/images/book.png" width="85")
          &nbsp;
          img(src="/images/bundlepage-3.png" width="55")

        .buy-button.text-center
          a.btn.btn-primary.btn-lg(href="https://leanpub.com/b/better-backbone-app/purchases/new") 
            | Buy 3 eBooks
            br
            | $69.99
  .row
    .col-sm-4.col-sm-offset-4
      .text-center
        p &nbsp;
        h4 Have A Discount Code?
        p
          | Click "Buy The eBook" above and you can
          | enter your coupon code on the next page.
