.jumbotron
  .text-center
    h1 What You’ll Learn, Chapter-by-Chapter

.row.book-contents
  .col-sm-10.col-sm-offset-1
    h3 Part 1: Backbone Views (6 chapters)
    | In Part 1, you’ll learn how to eliminate boilerplate code in views by building a generic render method, then extending specialized view types from a custom base type. You’ll also learn how to add new view types that offer flexibility through code and configuration.
    ol 
      li Chapter 1: View Rendering
      li Chapter 2: Naming and Namespacing Your Plugin
      li Chapter 3: Complex and Divergent Views
      li Chapter 4: Building a Better CollectionView
      li Chapter 5: Cache Pre-Compiled Templates
      li Chapter 6: Overriding Backbone.View's 'Constructor'

    h3 Part 2: Managing The DOM (3 chapters)
    | Part 2 focuses on how to create simple objects to manage DOM references as well as show and swap out views. Along the way, you’ll learn how to update views with new options, too. FInally, you’ll combine the ability to define views and manage the DOM into a single view type called a Layout.
    ol
      li Chapter 7: Managing DOM Widgets and Controls
      li Chapter 8: Swapping Views in the DOM
      li Chapter 9: Managing Nested Views

    h3 Part 3: Data and Metadata (4 chapters)
    | Part 3 looks at how to create plugins that allow models to be selected, or "picked", and collections that are also able to track which models have been picked. You’ll learn how to mix functionality into models and collections in a way that avoids troublesome method or attribute name collisions.
    ol
      li Chapter 10: Pickable Models 
      li Chapter 11: Pickable Collections
      li Chapter 12: Building Backbone.localStorage
      li Chapter 13: A Filtered Collection

    h3 Part 4: Application Infrastructure (4 chapters)
    | Part 4 dives into how to build the basic infrastructure needed for scaling Backbone applications by feature set. You’ll discover how to create new building blocks to facilitate feature separation and communication between them. Last, you’ll learn how to segment and organize code within larger features, giving you the power to re-organize or modify features and functional areas of your app much more easily.
    ol
      li Chapter 14: Third-Party Events, Commands, And Requests
      li Chapter 15: Boot-strapping A Backbone Application
      li Chapter 16: Application Workflow
      li Chapter 17: Building With Components

    h3 Part 5: Resource-Rich Appendices
    | Pages and pages of additional, deep-dive content on a wide range of topics, including: 
    br
    i Managing Events As Relationships, The Three Stages of App Initialization, Better JavaScript Mixins, Theme and Variation, and more ... 

