.section-two
  .jumbotron
    .text-center
      h1 
        | Because There's a World of Difference
      h1
        | Between Using a Framework ... and KNOWING It

  .row.benefits
    .col-sm-5.col-sm-offset-1

      .benefit
        h3
          i.fa.fa-lg.fa-check-square
          |  Get Back to Coding Cool Features Again
        p
          | You're not paid to build frameworks — you're paid 
          | to build apps that solve the needs of your 
          | business. 
          i Building Backbone Plugins 
          | will free you 
          | from boilerplate code so you can focus on writing 
          | your application's features.

    .col-sm-5

      .benefit
        h3
          i.fa.fa-lg.fa-check-square
          |  Stop Fumbling Around Your Codebase
        p
          | Keeping code small and readable is critical as your 
          | application evolves. Understanding — at a glance — 
          | what the code in any given file does is what makes 
          | the difference between being productive and 
          | flailing around for hours.

  .row.benefits
    .col-sm-5.col-sm-offset-1

      .benefit
        h3
          i.fa.fa-lg.fa-check-square
          |  Put an End to Copy &amp; Paste Programming
        p
          | Boilerplate code requires you to copy-and-paste 
          | large chunks of code. Copy-and-paste code creates 
          | duplication. Duplication creates a maintenance 
          | nightmare. This book will teach you how to stop 
          | code-bloat in its tracks with powerful, 
          | easy-to-maintain abstractions and extensions.

    .col-sm-5
      .benefit
        h3
          i.fa.fa-lg.fa-check-square
          |  Minimize Code, Maximize Freedom
        p
          | Master the art of writing less code that does way 
          | more. After stripping down and streamlining your 
          | codebase with the help of this book,  you'll have 
          | more time to actually implement and improve those 
          | inspired, nice-to-have features you love but kept 
          | having to put on the back burner.

  .row.benefits
    .col-sm-5.col-sm-offset-1

      .benefit
        h3
          i.fa.fa-lg.fa-check-square
          |  Understand WHY, Not Just How
        p
          | This isn’t just a how-to book. It’s a why-to 
          | book designed to clarify the concepts and logic 
          | that hold Backbone together. Learn the "why" and 
          | "how" of building Backbone extensions without 
          | losing hours, days, even weeks to hopeless, 
          | confusing trial-and-error.

    .col-sm-5
      .benefit
        h3
          i.fa.fa-lg.fa-check-square
          |  Build Fully Stocked App Architectures
        p
          | Backbone offers a great, lightweight way to 
          | organize jQuery and other JavaScript code, but 
          | the trade-off is a lack of a complete app 
          | architecture. Building Backbone Plugins fills 
          | this gap by showing you what it takes to build 
          | scalable applications in Backbone and how to 
          | stock your toolbox with exactly what you need.
