.section-four
  .jumbotron
    .text-center
      h1 
        | What Others Are Saying (and Loving!) About The Book

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        b "A treasure trove of knowledge 
        | for the Backbone 
        | developer concerned with application architecture 
        | and extending Backbone"
      .quote-author
        | - 
        a(href="http://blog.mediumequalsmessage.com/book-of-the-day-building-backbone-plugins", target="_blank") Chris Webb

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        |"
        b
          i The perfect read 
        | given that I was using Backbone in an unstructured manner, 
        | leaving many design paradigms in the dust ... 
        b
          i A great guide on how to transition from a mediocre Backbone 
            | web developer to a full-fledged software engineer 
        | with Backbone under their tool belt."
      .quote-author
        | - 
        a(href="http://www.linkedin.com/pub/peter-tseng/35/925/470", target="_blank") Peter Tseng

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "[This book] 
        b 
          i exposes parts of Backbone that many don't know about 
        | and clearly shows how to extend Backbone in helpful ways that 
        | are generic enough to be usable by large numbers of 
        | users/projects."
        p &nbsp;
      .quote-author
        | - 
        a(href="https://twitter.com/JoeZimJS", target="_blank") Joe Zimmerman

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "[ Building Backbone Plugins ] provided me with 
        b 
          i a bunch of conceptual tools
        | ... good enough to roll my own!"
      .quote-author
        | - 
        a(href="https://twitter.com/sandyreborn", target="_blank") Domingo E. Savoretti

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "Gave me 
        b 
          i a deeper understanding of event-driven applications, 
        | what 
        b 
          i a good backbone architecture looks like, 
        | and 
        b 
          i how to write cleaner code
        | ... All the code and examples can be traced back to Marionette, 
        | a real-world open source library ... I got 
        b
          i immediate benefit by applying it at work 
        | as I was reading the book, without having to create a project 
        | just to try out the concepts!"
      .quote-author
        | - 
        a(href="https://twitter.com/robertoguerra19", target="_blank") Roberto Guerra
        
  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "The things I learned from this book 
        b 
          i will go a long way in both improving our code base 
        | as well as the skill-set of my team as a whole!"
      .quote-author
        | - 
        a(href="https://twitter.com/ShortTompkins", target="_blank") Jason Krol

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "This book has helped me gain a better understanding 
        | of Backbone.js — which will 
        b 
          i benefit me as well as my clients 
        | going forward."
      .quote-author
        | - 
        a(href="http://www.linkedin.com/in/paulpaulson", target="_blank") 

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "I see 
        b 
          i Backbone plugins in a different light now 
        | as a result of this book.  Whereas previously I 
        | regarded plugins as a last resort, now I think of 
        | plugins more as an essential enhancement to the 
        | Backbone framework.  Plugins as explained in this 
        | book 
        b 
          i add a stronger procedural abstraction 
            | capability to Backbone 
        | ...  It reminds me somewhat 
        | of the power of C++ template metaprogramming 
        | compared to early versions of that language that 
        | lacked templates."
      .quote-author
        | - Bodine

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "I was surprised at the clarity of language and 
        | exposition [of Building Backbone Plugins] ... 
        | This has a degree of polish comparable to books 
        | from O'Reilly or Manning.  
        b 
          i Geeky expertise we expect; clear writing is rare!
        |"
      .quote-author
        | - Bodine

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "Through example, this book walks you through the 
        | common challenges faced in Backbone development and 
        b 
          i how to sanely tackle those challenges 
        | ... At least, that's how it helped me!"
      .quote-author
        | - 
        a(href="https://twitter.com/mindpivot", target="_blank") Michael Raumer

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "This book is 
        b 
          i a reference for me every time I pick Backbone 
        | as the major library to deal with anything 
        | I build on the client side."
      .quote-author
        | - 
        a(href="https://twitter.com/rapzo", target="_blank") Rui Pedro Lima

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "[This book] showed me how 
        b 
          i Backbone really becomes powerful when 
            | properly handling events
        |, especially in the context of using event handlers 
        | to trigger change in separate modules. 
        | ... It's helping me improve the maintainability 
        | and overall quality of the code I'm writing."
      .quote-author
        | - 
        a(href="https://twitter.com/miketierney", target="_blank") Mike Tiemey
