.section-four
  .jumbotron
    .text-center
      h1 
        | What Others Are Saying (and Loving!) About The Book

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        b "A treasure trove of knowledge 
        | for the Backbone 
        | developer concerned with application architecture 
        | and extending Backbone"
      .quote-author
        | - Chris Webb

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        |"
        b
          i The perfect read 
        | given that I was using Backbone in an unstructured manner, 
        | leaving many design paradigms in the dust ... 
        b
          i A great guide on how to transition from a mediocre Backbone 
            | web developer to a full-fledged software engineer 
        | with Backbone under their tool belt."
      .quote-author
        | - Peter Tseng

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "[This book] 
        b 
          i exposes parts of Backbone that many don't know about 
        | and clearly shows how to extend Backbone in helpful ways that 
        | are generic enough to be usable by large numbers of 
        | users/projects."
        p &nbsp;
      .quote-author
        | - Joe Zimmerman

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "[ Building Backbone Plugins ] provided me with 
        b 
          i a bunch of conceptual tools
        | ... good enough to roll my own!"
      .quote-author
        | - Domingo E. Savoretti

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "Gave me 
        b 
          i a deeper understanding of event-driven applications, 
        | what 
        b 
          i a good backbone architecture looks like, 
        | and 
        b 
          i how to write cleaner code
        | ... All the code and examples can be traced back to Marionette, 
        | a real-world open source library ... I got 
        b
          i immediate benefit by applying it at work 
        | as I was reading the book, without having to create a project 
        | just to try out the concepts!"
      .quote-author
        | - Roberto Guerra
        
  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-body
        | "The things I learned from this book 
        b 
          i will go a long way in both improving our code base 
        | as well as the skill-set of my team as a whole!"
      .quote-author
        | - Jason Krol
