.section-one
  .jumbotron
    .text-center
      h1 
        | Stop Building Apps With Broken, Boilerplate JavaScript
      p 
        | Master the art of extending and scaling Backbone.js ... with just ONE book

  .row
    .col-sm-6
      img.img-responsive(src="/images/book-stack.png")
    .col-sm-6
      .introduction.well
        .text-center
          p Introducing ...
          h3 
            | Building Backbone Plugins
          h4 
            | Extending Backbone.js
            | The Smart, Scalable Way
        .check-list.text-left
          p
            i.fa.fa-lg.fa-check-circle
            |  Learn dozens of time-saving secrets
          p
            i.fa.fa-lg.fa-check-circle
            |  Build apps that can handle massive growth
          p
            i.fa.fa-lg.fa-check-circle
            |  Say goodbye to spaghetti-code solutions
          p
            i.fa.fa-lg.fa-check-circle
            |  Make better architecture decisions
          p
            i.fa.fa-lg.fa-check-circle
            |  Write maintainable, problem-free JavaScript
        .guarantee.row
          .col-sm-4.col-sm-offset-3
            .pull-right
              img.arrow(src="/images/arrow.png")
          .col-sm-5
            p.well
              | Love it ... or
              br
              | your money back!
        .row
          .col-sm-12
            .buy-now.text-center
              a.get-the-book.btn.btn-success.btn-lg(href="#buynow")
                i.fa.fa-shopping-cart
                |  Get The Book

