.section-two
  .jumbotron
    .text-center
      h1 
        | Because There's a World of Difference
      p
        | Between Using a Framework ... and KNOWING It

  .row.benefits
    .col-sm-5.col-sm-offset-1

      .benefit
        h3
          | Get Back to Coding Cool Features Again
        p
          | You're not paid to build frameworks. You're paid to
          | build apps that solve the needs of your business.
          | Stop writing boilerplate code and focus on writing
          | your application's features.

    .col-sm-5

      .benefit
        h3
          | Stop Fumbling Around Your Codebase
        p
          | Keeping code small and understandable is critical
          | as your application grows in features. Being able
          | to clearly see what the code of any given 
          | file does, is the difference between productivity
          | and flailing around for hours.

  .row.benefits
    .col-sm-5.col-sm-offset-1

      .benefit
        h3
          | Put an End to Copy &amp; Paste Programming
        p
          | Boilerplate code requires you to copy and paste
          | large chunks of code. Copy and paste code creates
          | duplication. Duplication creates a maintenance
          | nightmare. Stop copy &amp; pasting your code 
          | and use good abstractions and extensions, instead.

    .col-sm-5
      .benefit
        h3
          | Minimize Code, Maximize Freedom
        p
          | Writing less code while enabling more functionality
          | means you can get more done. You'll have more 
          | time to get those extra features in place and you'll
          | be able to understand the code more easily.

  .row.benefits
    .col-sm-5.col-sm-offset-1

      .benefit
        h3
          | Understand WHY, Not Just How
        p
          | Understanding how to build something is easy. 
          | Understanding why - that's the ticket to productivity.
          | Learn the "why" and "how" of building Backbone.js extensions
          | without fumbling your way through trial and error.

    .col-sm-5
      .benefit
        h3
          | Build Fully Stocked App Architectures
        p
          | Backbone.js provides a great way to organize jQuery
          | and other JavaScrip code. It does not, however,
          | provide a complete application architecture. Learn
          | what it takes to build scalable applications and
          | stock your toolbox with the tools you need.
