.section-four
  .jumbotron
    .text-center
      h1 
        | What Others Are Saying (and Loving!) About The Book

  .quote.row
    .col-sm-7.col-sm-offset-1
      .quote-title
        | "This book is the shiznit! period."
      .quote-body
        | It's my new religion from now on. So long, Scientology!
        | It's my new religion from now on. So long, Scientology!
        | It's my new religion from now on. So long, Scientology!
      .quote-author
        | - Tim Crews

    .col-sm-1
      .author-bio
        img.img-responsive(src="/images/derickbailey.jpg")

  .quote.row
    .col-sm-7.col-sm-offset-1
      .quote-title
        | "This book is the shiznit! period."
      .quote-body
        | It's my new religion from now on. So long, Scientology!
        | It's my new religion from now on. So long, Scientology!
        | It's my new religion from now on. So long, Scientology!
      .quote-author
        | - Tim Crews

    .col-sm-1
      .author-bio
        img.img-responsive(src="/images/derickbailey.jpg")

  .quote.row
    .col-sm-7.col-sm-offset-1
      .quote-title
        | "This book is the shiznit! period."
      .quote-body
        | It's my new religion from now on. So long, Scientology!
        | It's my new religion from now on. So long, Scientology!
        | It's my new religion from now on. So long, Scientology!
      .quote-author
        | - Tim Crews

    .col-sm-1
      .author-bio
        img.img-responsive(src="/images/derickbailey.jpg")
