.section-four
  .jumbotron
    .text-center
      h1 
        | What Others Are Saying (and Loving!) About The Book

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-title
        | "It was the perfect read ... "
      .quote-body
        | ... given that I was using backbone in a a unstructured manner leaving many design paradigms in the dust. The book is a great guide on how to transition from a mediocre backbone web developer to a full-fledged software engineer with backbone under their tool belt.
      .quote-author
        | - Peter Tseng

    .col-sm-1
      .author-bio
        //img.img-responsive(src="/images/derickbailey.jpg")

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-title
        | "shedding tears of joy"
      .quote-body
        | I'm currently sheding tears of joy while reading your book... #AMAZING
      .quote-author
        | - Jean-Phillippe Lambert

    .col-sm-1
      .author-bio
        //img.img-responsive(src="/images/derickbailey.jpg")

  .quote.row
    .col-sm-10.col-sm-offset-1
      .quote-title
        | "I love your concise, straight to the point style ... "
      .quote-body
        | ... a nice contrast to many long waved books out there.
      .quote-author
        | - Dimitry Z.

    .col-sm-1
      .author-bio
        //img.img-responsive(src="/images/derickbailey.jpg")
