.section-five
  .jumbotron
    .text-center
      h1 
        | Buy The Book Today
      p
        | (and Get Back to Coding the Stuff You Love!)

  .row
    .col-sm-3.col-sm-offset-1
      .purchase.well
        h3 eBook Only

        p
          | Buy the eBook and master Backbone.js like 
          | never before!
          ul
            li Stop writing boilerplate
            li Take control of your code
            li Build and extend Backbone
            li Do more, write less

        .buy-button.text-center
          .price $24.99 (minimum)
          a.btn.btn-primary.btn-lg(href="https://leanpub.com/building-backbone-plugins/packages/book/purchases/new") Get The eBook

    .col-sm-4
      .purchase.preferred.well
        h3 eBook + Screencasts

        p
          | Buy the eBook and get the 4 JavaScript screencasts 
          | from Derick Bailey's 
          b WatchMeCode.net
          | series, referenced in the book!

          ul
            li Variable Scope
            li Context ("this")
            li Objects &amp; Prototypes
            li When Context and Prototypes Collide

        .buy-button.text-center
          .price $44.99 (minimum)
          a.btn.btn-success.btn-lg(href="https://leanpub.com/building-backbone-plugins/packages/book-plus-watchmecode-screencasts/purchases/new") Get The eBook + Screencasts
  
    .col-sm-3
      .purchase.well
        h3 eBook Bundle

        p
          | Buy the eBook and get 2 more eBooks on how to
          | build Backbone.js apps using MarionetteJS!

          ul
            li Building Backbone Plugins
            li MarionetteJS: A Gentle Introduction
            li Structuring Backbone Code W/ RequireJS &amp; Marionette

        .buy-button.text-center
          .price $49.99 (minimum)
          a.btn.btn-primary.btn-lg(href="https://leanpub.com/b/better-backbone-app/purchases/new") Get The eBook Bundle
