.section-three
  .jumbotron
    .text-center
      h1 
        | Get Real-Life, Real-App Tools &amp; Techniques
      h1
        | Distilled from Years of Experience with Backbone.js

  .row
    .col-sm-10.col-sm-offset-1
      .pull-right
        .author-bio
          img.img-responsive(src="/images/derickbailey.jpg")
          b Author: Derick Bailey
          br
          | creator of MarionetteJS
      p
        | In the 2nd half of 2010, I had been working on a Ruby on Rails project for a few months. It was a contract job with a good friend, and we were loving life. Rails was awesome. We were productive. We had amazing things going on with this app… except for that awful mess of JavaScript that we were “building” on the front-end. 

      p
        | After a few weeks of screaming at our own code, pulling our hair out, my coworker brought Backbone.js in to the mix. I fell in love almost instantly! I saw the potential for all of the patterns and practices that I had known in Windows development and thick GUI applications, right there in front of me - only in JavaScript! So, I jumped in head first - I started cranking out Backbone code like mad. I blogged about it. I answered questions on StackOverflow, and I got myself involved in the Backbone mailing list - all so that I could learn more, do more and get better at writing well structured and easy to maintain JavaScript. 

      p
        | Having built a handful of highly interactive pages, I began to notice that I was copy & paste programming. I was writing boilerplate code - the stuff that has to be there or nothing works right. This lead to errors in multiple pages that required copy & paste fixes, as well. But I hate boilerplate code and wanted a better way. 

      p
        | MarionetteJS was born out of this frustration - being tired of writing the same code over and over again. I saw that I was repeating patterns, so I extracted those patterns in to re-usable code. I took more than fifteen years of software development experience and boiled it down in to a framework that was based on my actual needs for my many and varied clients, over the next year and a half. I built a solution set that reflected the need to create both large and small scale applications. I wrote code that let me keep applications organized and maintainable. I introduced new ideas to the Backbone community from my background in building Windows applications. And I’ve now I’ve taken all of this experience in building the most popular of the Backbone add-ons and frameworks, and boiled it down in to a book. 

      p
        | What started as blog posts and StackOverflow questions, turned in to the realization that I needed to create something more cohesive. I needed a way to show people why they would want to make the same decisions that I made. I wanted others to benefit from my trial and error learning, and not have to make the same mistakes I did when extending Backbone. Thus, this book was born. And over the last two years of writing, it has grown, morphed and blossomed in to a text that is as comprehensive and well structured as the MarionetteJS framework from which its lessons were learned.
