.section-three
  .jumbotron
    .text-center
      h1 
        | Get Real-Life, Real-App Tools &amp; Techniques
      h1
        | Distilled from Years of Experience with Backbone.js

  .row
    .col-sm-10.col-sm-offset-1
      .pull-right
        img.img-responsive(src="/images/derickbailey.jpg")
 
      p
        | I don’t know about you, but when I first starting using Backbone.js, 
        | I fell in love with it almost immediately. 
      p
        | After weeks of tearing my hair out over the hopeless tangle of 
        | JavaScript I’d "built" into my latest app, Backbone seemed like 
        | the answer to my prayers: 
      p
        i 
          | All of the patterns and practices that I'd learned from Windows 
          | development and thick GUI applications right there in front of me ... 
          | only in JavaScript! 
      p
        b But it wasn’t long before I realized that using Backbone raised 
          | problems of its own: 
        br
        | for one, a heavy reliance on copy &amp; paste 
        | programming. To build out my apps, I had to keep adding more and 
        | more boilerplate code — the stuff that has to be there or nothing 
        | works right. 
      p
        | All that copy-and-pasting of code inevitably led to the 
        | copy-and-pasting of errors ... which then required copy-and-paste 
        | fixes. 
      p
        | And that, frankly, is a ridiculous and wasteful way to code. 
      p
        | Based on my own trial &amp; error-riddled experiences building 
        | MarionetteJS for Backbone, Building Backbone Plugins boils down 
        | more than 15 years of software development experience into 
        b one simple, 
          | easy-to-follow handbook designed to meet the real-life needs of actual 
          | JavaScript developers and their clients. 
      p
        | Using MarionetteJS as a reference, this book will show you how to 
        | write cleaner, more flexible JavaScript as well as how to keep your 
        | applications organized and easy-to-maintain — no matter how complex 
        | they get. 
  .row.author-bio
   .col-sm-3.col-sm-offset-1
      img.img-responsive(src="/images/signature.png")
      b Derick Bailey
      br
      | creator of MarionetteJS
