extends layout

block content
  .container

    include _section-one

    a(name="content")
    include _section-two

    a(name="history")
    include _section-three

    a(name="reviews")
    include _section-four

    a(name="buynow")
    include _section-five
