extends layout

block javascript
  script.
    $(function() {
      $('a[href*=#]:not([href=#])').click(function() {
        if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
          var target = $(this.hash);
          target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
          if (target.length) {
            $('html,body').animate({
              scrollTop: target.offset().top
            }, 1000);
            return false;
          }
        }
      });
    });

block content
  .container

    include _intro

    a(name="features")
    include _features

    a(name="story")
    include _story

    a(name="content")
    include _content

    a(name="reviews")
    include _reviews

    a(name="buynow")
    include _buynow
