body {
  font-size: 12pt;
}

a.navbar-brand {
  font-weight: bold;
  font-size: 1.5em;
}

.navbar-nav li.buynow {
  font-weight: bold;
  font-size: 1.1em;
}

.jumbotron {
  background-color: #fff;
  margin-top: 7em;
  margin-bottom: 2em;
  padding-top: 0px;
  padding-bottom: 0px;
}

.section-one .jumbotron {
  margin-top: 0em;
  margin-bottom: 4em;
}

.jumbotron h1 {
  font-size: 2.4em;
}

.jumbotron h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.introduction .check-list {
  margin: 4em 5em;
}

.introduction .check-list i {
  color: #090;
}

.introduction .guarantee img.arrow {
  margin-top: 2em;
}

.introduction .guarantee p {
  background-color: #fff;
  text-align: center
}

.introduction .get-the-book {
  padding-left: 2em;
  padding-right: 2em;
  font-size: 2.2em;
  font-weight: bold;
}

.introduction .get-the-book sub {
  padding: 0px;
  margin: 0px;
  font-size: 0.4em;
  font-weight: normal;
}

.benefits .benefit h3 {
  font-size: 1.25em;
  font-weight: bold;
}

.benefits .benefit i {
  color: #33a;
}

.benefits .benefit p {
  text-align: justify;
}

.author-bio {
  margin: 0em 3em 1em 3em;
  text-align: center;
}

.author-bio img {
  margin-bottom: 1em;
}

.quote {
  margin-bottom: 2em;
}

.quote .quote-title {
  font-size: 1.5em; 
  font-weight: bold;
}

.quote .quote-body {
  font-size: 1.25em; 
}

.quote .quote-author {
  text-align: right;
  font-size: 1.25em;
}

.purchase {
  height: 500px;
  margin-top: 50px;
  border: 1px solid #bbb;
}

.purchase.preferred {
  height: 550px;
  border: 2px solid #070;
  background-color: #efe;
  margin-top: 25px;
}

.purchase h3 {
  text-align: center;
  margin-top: 0em;
  margin-bottom: 2em;
}

.purchase .price {
  font-weight: bold;
  text-align: center;
  margin-bottom: 1em;
}

.purchase .price a {
  text-align: center;
}

.purchase p {
  margin-bottom: 2em;
}

.purchase .buy-button {
  position: absolute;
  bottom: 50px;
}

.purchase .buy-button a {
  width: 225px;
}

.purchase.preferred .buy-button a {
  width: 315px;
}

footer.navbar {
  margin-top: 3em;
  margin-bottom: 0px;
}
